*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

.container{
    padding: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label{
    width: 150px;
}

input{
    width: 150px;
    height: 25px;
    padding: 0 5px;
}

.btn{
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: deepskyblue;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Abel', sans-serif;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
}